* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*headings*/

header {
  background-color: #34495e;
  color: #2980b9;
  border-bottom: 2px solid #2980b9;
}

nav {
  min-height: 5vh;
  display: flex;
  width: 90%;
  margin: auto;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}

.nav-a {
  color: #2980b9;
  text-decoration: none;
  position: relative;
}

.nav-a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2980b9;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-a:hover::before {
  visibility: visible;
  width: 100%;
}

/* hero */

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  min-height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #2980b9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Reggae One", cursive;
  font-size: 20px;
  text-shadow: 0.07em 0 #34495e, 0 0.07em #34495e, -0.07em 0 #34495e,
    0 -0.07em #34495e;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
}

#sun-icon {
  display: flex;
  align-items: flex-end;
  padding-left: 0.75rem;
  padding-bottom: 1.35rem;
  font-size: 2rem;
  color: #2980b9;
}

a.menu-btn {
  color: #2980b9;
  border: 2px;
  border-style: solid;
  text-decoration: none;
  background: #34495e;
}

/* Footer  */

footer {
  background: #34495e;
  border-top: 2px solid #2980b9;
}

#info ul li a span {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
